body {
    max-width: 1200px;
    padding: 12px;
    padding-bottom: 0;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; 

  }
  @media only screen and (min-width: 481px) {
    body {
      padding-top: 12px;
      padding-right: 12px;
      padding-left: 12px;
      font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; 

    }
  }
  .container{
    margin:0;
  }
  nav ul {
      list-style-type: none;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      font-weight: bold;
      /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
  }
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  nav li a:hover {
    background-color: #111;
  }
  
  nav .active {
    background-color: rgb(56, 78, 179);
  }
  footer ul {
      list-style-type: none;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-weight: bold;
      font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; 
;
  }
  nav ul li, footer ul li {
      display: inline;
      margin-right: 20px;
  }
  a {
      text-decoration: none;
      color: #999;
  }
  a:hover {
      text-decoration: underline;
  }
  h1 {
      font-size: 4em;
      margin: 5px;
      margin-left: 0;
      padding: 0;
      font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; 
  }
  h2 {
      font-size: 2em;
  }
  h3 {
      font-size: 1.5em;
  }
  p {
      font-size: 1.0em;
      line-height: 0.9em;
      color: #333;
      text-align: justify;
      text-justify: inter-word;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-right: 150px;
      margin-left: 50px;
      line-height: 1.2;
  }
  footer {
      border-top: 1px solid #d5d5d5;
      font-size: .8em;
  }

  button {
    border: none;
    color: white;
    margin-top: 6px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 4em;
  }

  .design-word { 
    color: #FF4F26; 
  } 

  [class^="icon"] {
    height: 20px;
    width: 20px;
    position: relative;
    padding-right: 5px;
    vertical-align: middle;
  }
  
  .icon-twitter {
    content: url('/pics/twitter.jpg');
  
    /* display: inline-block; */
  }
  
  /* Style the button that is used to open and close the collapsible content */
  .collapsible {
    background-color: white;
    color: black;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; 
    cursor: pointer;
    margin: 0;
    padding:0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ECECEB;
    border: none;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding-top: 2px;
    padding-bottom: 2px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
  }
  
  .collapsible:after {
    content: '\002B';
    color: black;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
  }
  
  /* Images */
  .container1 {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }
  
  .container1:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; 
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .container2 {
    position: relative;
    width: 50%;
  }
  
  .image2 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container2:hover .image2 {
    opacity: 0.3;
  }
  
  .container2:hover .middle {
    opacity: 1;
  }
  
  .text2 {
    background-color: rgba(34, 34, 41, 0.63);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; 
  }