nav, body, h1, h2, h3, p, .collapsible {
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif; font-weight:600; 
}

nav {
  padding-left: 12px;
}

nav a {
  color:black;
  outline: none;
}

body {
  max-width: 1400px;
  padding: 12px;
  padding-bottom: 0;
  }

.container{
  margin:0;
}

a {
  text-decoration: none;
  color: black
}

h1 {
  margin: 5px;
  margin-left: 0;
  padding: 0;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 20pt;
  font-size: 6vw;
}

h1, button {
  font-size: 2em;
  font-size: 9vw;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
    font-weight:lighter;
    font-size: 14pt;
    font-size: 4vw;
    line-height: 0.9em;
    color: black;
    text-align:left;
    line-height: 1.2;
}

button {
  border: none;
  color: white;
  margin-top: 6px;
  text-align: center;
  text-decoration: none;
}

.design-word { 
  color: #FF4F26; 
}

a:hover, .phone-num:hover {
  color: #FF4F26;
}

.col-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  line-height: 1.2em;
  font-weight: lighter;
  font-size: 10pt;
  font-size: 3.5vw;
}

.container.row {
  padding: 0;
}

[class^="icon"] {
  height: 20px;
  width: 20px;
  position: relative;
  padding-right: 5px;
  vertical-align: middle;
}

.icon-twitter {
  content: url('/pics/twitter.jpg');

  /* display: inline-block; */
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 0;
  padding:0;
  width: 100%;
  text-align: left;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:focus, .active, .collapsible:hover {
  background-color:  #f5f5f4;
  color:  #FF4F26;
  border: none;
  outline: none;
}

.active, .collapsible:hover {
  background-color:  #f5f5f4;
  color:  #FF4F26;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding-top: 0px;
  padding-bottom: 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}

.collapsible:after {
  content: '\002B';
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\00D7";
}

.row>* {
  padding-left: 0;
  padding-right: 0;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-2::after, .hover-3::after {
  content: '';
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  /* border: 1px solid #fff; */
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  display: block;
  opacity: 0;
}

.hover-2-content {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 99;
}

.hover-2-description, .hover-2-description {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

.hover-2 img, .hover-3 img {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-2 .hover-overlay, .hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-2:hover img, .hover-3:hover img {
  width: 110%;
}

.hover-2:hover::after, .hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-2:hover .hover-2-description {
  opacity: 1;
  transform: none;
  background-color:  white;
  color: black;
}

.hover-2:hover .hover-overlay, .hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

p.hover-2-description, p.hover-3-description {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

p.hover-2-description {
  font-size: 1.0em;
  line-height: 0.9em;
  color: black;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.2;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  transform: none;
  color: white;
}

p.hover-3-description {
  font-size: 1.0em;
  line-height: 0.9em;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.2;
}

@media only screen and (min-width: 481px) {
  body {
    max-width: 1400px;
  }

  p {
    font-size: 14pt;
    font-size: 2vw;
  }

  .col-text {
    font-size: 10pt;
    font-size: 1.6vw;
  }

  h1, button {
    font-size: 4em;
    font-size: 6vw;
  }

  h3 {
    font-size: 2em;
    font-size: 4vw;
  }
}
